---
import { Image } from '@astrojs/image/components';
const { projects } = Astro.props;
---

<div class="grid sm:grid-cols-2">
	{
		projects.map((project: any) => (
			<a
				href={project.url}
				class="flex flex-col gap-3 p-3 sm:p-6 md:p-12 border-t sm:odd:border-r border-stone-800 relative group focus-visible:ring-0"
			>
				<div class="absolute bg-amber-400 h-px w-full top-0 left-0 group-hover:scale-x-110 transition group-focus-visible:scale-x-110 opacity-0 group-hover:opacity-100 group-focus-visible:opacity-100" />

				<div class="absolute bg-amber-400 h-px w-full bottom-0 left-0 group-hover:scale-x-110 transition group-focus-visible:scale-x-110 opacity-0 group-hover:opacity-100 group-focus-visible:opacity-100" />

				<div class="absolute bg-amber-400 w-px h-full bottom-0 left-0 group-hover:scale-y-110 transition group-focus-visible:scale-y-110 opacity-0 group-hover:opacity-100 group-focus-visible:opacity-100" />

				<div class="absolute bg-amber-400 w-px h-full bottom-0 right-0 group-hover:scale-y-110 transition group-focus-visible:scale-y-110 opacity-0 group-hover:opacity-100 group-focus-visible:opacity-100" />

				<header class="flex flex-col gap-3">
					<Image
						src={project.frontmatter.image}
						alt={`${project.frontmatter.title} screenshot`}
						width={650}
						height={365}
						fit="cover"
						position="top"
						layout="fill"
						class="w-full h-auto"
						format="webp"
					/>
					<h3>{project.frontmatter.title}</h3>
				</header>
				<p class="line-clamp-2">{project.frontmatter.description}</p>
				<span class="text-amber-400">View Project</span>
			</a>
		))
	}
</div>
