---
import { Image } from '@astrojs/image/components';
import GridCard from './GridCard.astro';

interface Frontmatter {
	title: string;
	description: string;
	image: string;
	draft?: boolean;
}

const projects = await Astro.glob<Frontmatter>('../pages/projects/*.mdx');

const filteredProjects = projects.filter(
	(project) => !project.frontmatter.draft
);
---

<GridCard padding={false}>
	<div class="flex flex-col">
		<div class="flex flex-col gap-6 p-3 sm:p-6 md:p-12">
			<h2>Projects</h2>
			<p class="max-w-screen-md">
				I enjoy keeping busy and continuously have a project in the works. A
				project that is above my comfort level and pushes me beyond my current
				capabilities.
			</p>
		</div>
		<div class="grid sm:grid-cols-2">
			{
				filteredProjects.map((project) => (
					<a
						href={project.url}
						class="flex flex-col gap-3 p-3 sm:p-6 md:p-12 border-t sm:odd:border-r border-stone-800 relative group"
					>
						<div class="absolute bg-amber-400 h-px w-0 top-0 left-1/2 group-hover:w-[calc(100%+3rem)] group-hover:-left-6 transition-all" />
						<div class="absolute bg-amber-400 h-px w-0 bottom-0 left-1/2 group-hover:w-[calc(100%+3rem)] group-hover:-left-6 transition-all" />
						<div class="absolute bg-amber-400 w-px h-0 right-0 top-1/2 group-hover:h-[calc(100%+3rem)] group-hover:-top-6 transition-all" />
						<div class="absolute bg-amber-400 w-px h-0 left-0 top-1/2 group-hover:h-[calc(100%+3rem)] group-hover:-top-6 transition-all" />

						<header class="flex flex-col gap-3">
							<Image
								src={project.frontmatter.image}
								alt="Photo of Raymond Kneipp"
								width="650px"
								aspectRatio="16:9"
								fit="contain"
								layout="fill"
								class="w-full"
							/>
							<h3 class="font-bold text-xl font-sans">
								{project.frontmatter.title}
							</h3>
						</header>
						<p>{project.frontmatter.description}</p>
						<span class="text-amber-400">View Project</span>
					</a>
				))
			}
		</div>
	</div>
</GridCard>
