---
import Icon from 'astro-icon';
import GridCard from './GridCard.astro';

type SocialItem = {
	href: string;
	icon: string;
	name: string;
};

const socials: SocialItem[] = [
	{
		href: 'https://github.com/raymondkneipp',
		icon: 'github',
		name: 'GitHub',
	},
	{
		href: 'https://www.linkedin.com/in/raymondkneipp/',
		icon: 'linkedin',
		name: 'LinkedIn',
	},
	{
		href: 'https://twitter.com/rfkquery',
		icon: 'twitter',
		name: 'Twitter',
	},
	{
		href: 'mailto:hello@raymondkneipp.com',
		icon: 'envelope',
		name: 'Email',
	},
	{
		href: 'https://raymondkneipp.com/resume-not-found.pdf',
		icon: 'file-pdf-box',
		name: 'Resume',
	},
];
---

<GridCard padding={false}>
	<div class="flex items-center">
		{
			socials.map((item) => (
				<a
					target="_blank"
					rel="noopener noreferrer"
					href={item.href}
					class="p-3 sm:p-6 md:p-12 border-stone-800 border-r last-of-type:border-r-0 hover:text-amber-400 transition flex-1 flex items-center justify-center"
					aria-label={item.name}
				>
					<Icon
						pack="mdi"
						name={item.icon}
						class="h-6 w-6 sm:h-7 sm:w-7 md:w-8 md:h-8"
					/>
					<span class="ml-3 hidden lg:block">{item.name}</span>
				</a>
			))
		}
	</div>
</GridCard>
